
/* Small and up (Landscape Phones) */
@media (min-width: 576px) {
    nav > a {
        margin: 2% 1% 3%;
        height: 10%;
        width: 15%;
        color: blueviolet;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        border-radius: 25px;
        background: lightseagreen;
        padding: 20px;
        text-align: center;
        border: 2px solid white;
      }
      nav {
        display: flex;
        justify-content: flex-end;
        width: 80%;
        padding-right: 2%;
      }
      .has-border {
        border-radius: 20px;
        border: 2px solid green;
        background: none;
        padding: 20px;
      }
      
      #profile-pic {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin: 15% auto;
        grid-column: 2/3;
      }
      button {
        grid-column: 2/3;
        margin: 3% auto;
        width: 70%;
        height: 15%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        border-radius: 25px;
        background: green;
        padding: 15px ;
        padding-bottom: 12%;
        text-align: center;
        color: white;
        letter-spacing: 5px;
        font-style: italic;
      }
      .logo {
        width: 100px;
        height: 100px;
        margin: 3% 10%;
      }
     

}

/* phones portrait (600px)*/
@media (min-width: 600px) {
    .column {
      color: blue;
    }

    nav > a {
        margin: 2% 1% 3%;
        height: 10%;
        width: 15%;
        color: blueviolet;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        border-radius: 25px;
        background: lightseagreen;
        padding: 20px;
        text-align: center;
        border: 2px solid white;
      }
      nav {
        display: flex;
        justify-content: flex-end;
        width: 80%;
        padding-right: 2%;
      }     
      #profile-pic {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 15% auto;
        grid-column: 2/3;
      }
      button {
        grid-column: 2/3;
        margin: 3% auto;
        width: 70%;
        height: 15%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        border-radius: 25px;
        background: green;
        padding: 15px ;
        padding-bottom: 12%;
        text-align: center;
        color: white;
        letter-spacing: 5px;
        font-style: italic;
      }
      .logo {
        width: 100px;
        height: 100px;
        margin: 3% 10%;
      }
     
     
  }


/* Medium and up (Tablets) */
@media (min-width: 768px) {
    nav > a {
        margin: 2% 1% 3%;
        height: 10%;
        width: 15%;
        color: blueviolet;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        border-radius: 25px;
        background: lightseagreen;
        padding: 20px;
        text-align: center;
        border: 2px solid white;
      }
      nav {
        display: flex;
        justify-content: flex-end;
        width: 80%;
        padding-right: 2%;
      }     
      #profile-pic {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin: 15% auto;
        grid-column: 2/3;
      }
      button {
        grid-column: 2/3;
        margin: 3% auto;
        width: 70%;
        height: 15%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        border-radius: 25px;
        background: green;
        padding: 20px;
        padding-bottom: 5%;
        text-align: center;
        color: white;
        letter-spacing: 16px;
        font-style: italic;
      }
      .logo {
        width: 100px;
        height: 100px;
        margin: 3% 10%;
      }
     

}