h1 {
    color: black;
    text-align: center;
    border: thin dotted black;
}
body {
    background: whitesmoke;
}

h2 {
    color: teal;
    width: 30%;
    margin: 2% auto;
    background: lightgrey;
    text-align: center;
}

h4 {
    border: 2px solid teal;
    margin: 2% auto;
    text-align: center;
    width: 30%;
}

h6 {
    font-size: 2em;
}

ul {
    list-style-type: none;
    text-align: center;
}